


header{
  color: #727272;
  background-color: #32045d ;
  height: 60px;
}

header nav{
  float: right;
  width: 30%;
  margin-top: 15px;
  


}

header h1{
  float: left;
  margin-left: 40px;
}

header nav ul li{
  display: inline-block;
  margin-right: 10px;
}

#first{
  background-color: #fff8fb;
  width: 70%;
  height: 270px;
  text-align: center;
  margin: 30px 0 30px 15%;
}

#first h4{
  font-size: 40px;
  padding-top: 30px;
  color:#32045d;
}

#first p{
 font-size: 20px;
 color: #32045d;
}



footer{
  height: 20px;
  color: #f9abc2bd;
  background-color: hsl(271.01,91.75%,19.02%);
  text-align: center;
}