body{
  
 background-image: url(https://static.alphacoders.com/thumbs_categories/32.jpg);
 background-size:auto
 

header{
  color: #d46ea3;
  height: 80px;
}

header nav{
  float: right;
  width: 30%;
  margin-top: 15px;
  


}

header h1{

  margin-left: 40px;
}

header nav ul li{
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a{
  text-decoration: none;
}

#first{
  width: 70%;
  height: 300px;
  margin: 30px 0 30px 15%;
}

#first h4{
  font-size: 40px;
  padding-top: 30px;
  color:#32045d;
}

#first p{
 font-size: 20px;
 color: #32045d;
}


#second{
  color: #32045d;
   margin-bottom:30px; 
}

.image-container{
  display: inline-block;
  height: 450px;
  width: 30%;
}
